/* Layout */

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 89rem) {
  /* Layout */

  html {
    height: 100%;
  }

  .thirds-container > .first-third {
    width: 33%;
  }

  .thirds-container > .second-third {
    width: 34%;
  }

  .thirds-container > .third-third {
    width: 33%;
  }

  .thirds-container.content {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .thirds-container.content > .third {
    top: 38%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .thirds-container.content > .first-third {
    position: fixed;
    left: 0;
  }

  .thirds-container.content > .second-third {
    position: relative;
  }

  .thirds-container.content > .third-third {
    position: fixed;
    right: 0;
  }

  .thirds-container.content > .third > section {
    width: 100%;
  }

  .thirds-container.content > .third > section > *:first-child {
    margin-top: 0;
  }

  .thirds-container.underlay {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
  }

  .thirds-container.underlay > .third {
    height: 100%;
  }

  /* Color */

  .thirds-container.underlay > .first-third {
    background-color: #350400;
  }

  .thirds-container.underlay > .second-third {
    background-color: #401010;
  }

  .thirds-container.underlay > .third-third {
    background-color: #350400;
  }
}
