@media screen and (min-width: 13rem) and (max-width: 89rem) {
  /* Layout */

  html {
    height: 100%;
  }

  body {
    margin: 0;
  }

  .thirds-container.content {
    height: 100%;
  }

  .thirds-container.content > .third {
    width: 100%;
    text-align: center;
  }

  .thirds-container.content > .third > section > *:first-child {
    margin-top: 0;
  }

  .thirds-container.content > .first-third,
  .thirds-container.content > .first-third > section {
    height: 100%;
  }

  .thirds-container.content > .first-third > section > #logo {
    position: sticky;
    top: 38%;
    margin: 0rem 0rem 3rem 0rem;
  }

  .thirds-container.content > .second-third {
    min-height: 62%;
    padding: 3rem 0rem 8rem 0rem;
  }

  .thirds-container.content > .second-third > section {
    padding: 0rem 2rem;
  }

  .thirds-container.content > .third-third {
    bottom: 0;
    padding: 1rem 0rem;
    position: fixed;
  }

  /* Color */

  body {
    background-color: #2e0000;
  }

  .thirds-container.content > .first-third {
    background-color: #2e0000;
    background-image: url("./assets/spiralcy-checkers-bg.svg");
    background-position: center;
  }

  .thirds-container.content > .second-third {
    background-color: #401010;
  }

  .thirds-container.content > .third-third {
    background-color: #2e0000;
  }

  /* Animation */

  .thirds-container.content > .first-third {
    animation-duration: 500ms;
    animation-name: first-third-slidein;
  }

  @keyframes first-third-slidein {
    from {
      background-position-y: 47%;
    }
  }

  #logo {
    filter: blur(0px);
    animation-duration: 500ms;
    animation-name: blur-in-portrait;
  }

  @keyframes blur-in-portrait {
    from {
      filter: blur(100px);
    }

    to {
      filter: blur(0px);
    }
  }
}
