/*
  Layout
*/

.thirds-separator {
  display: none;
}

.thirds-container.content > .third-third > section > nav > a {
  display: flex;
  margin: auto;
}

.thirds-container.content > .third-third > section > nav > a .nav-link-text {
  margin-right: 1rem;
}

/*
  Animation
*/

* {
  animation-fill-mode: backwards;
}

/*
  Text
*/

.thirds-container.content > .third-third * {
  font-family: "Sofia", "Poltawski Nowy", "Noto Emoji", serif;
}

.thirds-container.content > .third-third > section > nav .nav-link-text {
  font-size: smaller;
}

.thirds-container.content > .third-third > section > nav > a {
  text-decoration: none;
}

/*
  Color
*/

#logo {
  color: var(--spiralcy-5-white-point);
}

.thirds-container.content > .third-third > section * {
  color: var(--spiralcy-5-white-point);
}

.thirds-container.content > .third-third > #fine-print {
  opacity: 0.1;
}

.thirds-container.underlay {
  display: none;
}
