/*
  Layout
*/

.thirds-separator {
  display: none;
}

/*
  Animation
*/

* {
  animation-fill-mode: backwards;
}

/*
  Color
*/

#logo {
  color: var(--spiralcy-5-white-point);
}

.thirds-container.content > .third-third > section > nav > a {
  color: var(--spiralcy-5-white-point);
}

.thirds-container.content > .third-third > section > nav > a:after {
  content: "↗";
}

.thirds-container.underlay {
  display: none;
}
