@media (orientation: portrait) and (min-width: 13rem) {
  /* Layout */

  html {
    height: 100%;
  }

  body {
    margin: 0;
  }

  .thirds-container.content {
    height: 100%;
  }

  .thirds-container.content > .third {
    width: 100%;
    text-align: center;
  }

  .thirds-container.content > .third > section > *:first-child {
    margin-top: 0;
  }

  .thirds-container.content > .first-third,
  .thirds-container.content > .first-third > section {
    height: 100%;
  }

  .thirds-container.content > .first-third > section > #logo {
    position: sticky;
    top: 38%;
    margin: 0rem 0rem 8rem 0rem;
  }

  .thirds-container.content > .thirds-separator {
    z-index: 1;
    position: relative;
    height: 25px;
    margin: -13px 0px 0px 0px;
  }

  .thirds-container.content > .thirds-separator + .third {
    margin-top: -13px;
  }

  .thirds-container.content > .second-third {
    min-height: 62%;
    padding: 5rem 0rem 8rem 0rem;
  }

  .thirds-container.content > .second-third > section {
    padding: 0rem 2rem;
  }

  .thirds-container.content > .third-third {
    z-index: 2;
    position: fixed;
    bottom: 0;
    padding: 2rem 0rem;
  }

  /* Color */

  body {
    background-color: #2e0000;
  }

  .thirds-container.content > .first-third {
    background-color: #2e0000;
    background-image: url("./assets/spiralcy-checkers-bg.svg");
    background-position: center;
  }

  .thirds-container.content > .thirds-separator {
    background-color: transparent;
    background-image: url("./assets/spiralcy-checkers-sep-h.svg");
    background-repeat: repeat-x;
    background-position: center;
    overflow: visible;
  }

  .thirds-container.content > .second-third {
    background-color: #401010;
  }

  .thirds-container.content > .third-third {
    background-color: #2e0000;
  }

  .thirds-container.underlay {
    display: none;
  }

  /* Animation */

  * {
    animation-fill-mode: backwards;
  }

  .thirds-container.content > .first-third {
    animation-duration: 500ms;
    animation-name: first-third-slide;
  }

  @keyframes first-third-slide {
    from {
      background-position-x: 47%;
    }
  }

  .thirds-container.content > .thirds-separator {
    animation-duration: 500ms;
    animation-name: thirds-separator-slide;
  }

  @keyframes thirds-separator-slide {
    from {
      background-position-x: 47%;
    }
  }

  #logo {
    filter: blur(0px);
    animation-duration: 500ms;
    animation-name: logo-blur-portrait;
  }

  @keyframes logo-blur-portrait {
    from {
      filter: blur(100px);
    }
  }
}
