@font-face {
  font-family: "Sofia";
  src: url(assets/fonts/sofia/Sofia-Regular.ttf);
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poltawski Nowy";
  src: url(assets/fonts/poltawski-nowy/PoltawskiNowy-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

/* Text */

* {
  font-family: "Poltawski Nowy", "Noto Emoji", serif;
  font-weight: 400;
}

h1 {
  font-family: "Sofia", "Poltawski Nowy", "Noto Emoji", serif;
  font-size: xxx-large;
}

h2 {
  font-size: smaller;
  font-variant: small-caps;
}

/* Color */

:root {
  --spiralcy-5-black-point: #2e0000;
  --spiralcy-5-extra-dark: #350400;
  --spiralcy-5-dark: #401010;
  --spiralcy-5-neutral: #8f2b2b;
  --spiralcy-5-light: #cd625b;
  --spiralcy-5-white-point: #ffd3d3;
}

* {
  color: var(--spiralcy-5-light);
}

body {
  background-color: var(--spiralcy-5-black-point);
}

h1 {
  color: var(--spiralcy-5-white-point);
}

h2 {
  color: var(--spiralcy-5-neutral);
}
